<div class="alert alert-info">
  <%= content_tag('span', "New", :class => ["label", "label-info"]) %>
  This bill is waiting to be processed. Please <%= link_to "refresh", @bill %> the page in a few minutes.
</div>
