<div class="alert">
  <%= content_tag('span', "Processing", :class => ["label", "label-warning"]) %>
  This bill is currently being processed. Please <%= link_to "refresh", @bill %> the page in a few minutes.
</div>
