<h1>Bill <small>Uploaded <%= @bill.created_at.localtime.strftime("%l:%M%p %h %e %Y") %></small></h1>
<div>
  <%= link_to @bill.csv.file.filename, @bill.csv.url %><br>
  <%= content_tag('span', "Failed", :class => ["label", "label-important"]) if @bill.failed? %>
  <hr>
  <%= render @bill.state %>
</div>
